
#contenidor {
  width: 355px;
  height: 1000px;
  background-color: white;
  margin: 0 auto;
  z-index: -4;
}

.cara{
  width: 350px;
  height: 440px;
  border-radius: 51% 49% 50% 50% / 31% 31% 69% 69% ;
  background-color: PapayaWhip;
  position: absolute;

}

.ojos{
  width:70px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-left: 70px;
  margin-top: 150px;
  border-top: 5px solid #000;
}

.ojocolor{
  width:40px;
  height: 32px;
  background-color: #804000;
  border-radius: 50%;
  position: relative;
  margin-left: 20px;
  z-index: 10;
  border-bottom: 2px solid #000;

}
.ojopupila{
  width:25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  margin-left: 28px;
  margin-top: -33px;
  z-index: 38;
  border: 2px solid #000;

}
.alto_ojo{
  width:80px;
  height: 25px;
  background-color: black;
  position: absolute;
z-index: -3;

  margin-top: -20px;
  margin-left: -10;
  border-bottom: 5px solid transparent;
  border-radius: 42.5%;


}
#ceja{
  margin-top: -30px;
  position: absolute;
  clip-path: polygon(38% 9%, 73% 11%, 98% 24%, 64% 19%, 39% 18%, 8% 21%);
  height: 100px;
  margin-left: -15px;
  width: 100px;
  z-index: 16;
  background-color: #804000;
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

#cejas{
  margin-top: -30px;
  position: absolute;
  clip-path: polygon(38% 9%, 73% 11%, 98% 24%, 64% 19%, 39% 18%, 8% 21%);
  height: 100px;
  width: 100px;
  z-index: 17;
  background-color: #804000;
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}


/*pelo*/

#flequillo{
background-color: #E9B172;
  position: absolute;
  height: 100px;
  width: 350px;
  z-index: 20;
  border-radius: 48% 52% 47% 53% / 100% 100% 0% 0% ;
  z-index: 70;

}

#flequillo_uno{
  background-color: #E9B172;
  position: relative;
  height:300px;
  width: 50px;
  z-index: -1;
  border-radius: 96% 4% 0% 100% / 0% 100% 0% 100%  ;
  margin-top:100px;
  z-index: 70;
}

#flequillo_dos{
  background-color: #E9B172;
  position: relative;
  height:600px;
  width: 280px;
  z-index: 29;
  clip-path: polygon(38% 0, 49% 0, 49% 24%, 66% 42%, 44% 61%, 47% 38%, 36% 27%);
  margin-top:-300px;
  margin-left: 210px;
  z-index: 70;


}
#flequillo_tres{
  background-color: #E9B172;

  position: absolute;
  height:210px;
  width: 380px;
  z-index: 40;
  clip-path: polygon(0 0, 70% 0, 81% 29%, 66% 31%, 56% 28%, 45% 28%, 34% 25%, 18% 11%, 22% 29%, 4% 16%);
  margin-top: 80px;
  z-index: 70;

}





#nariz{
clip-path: polygon(50% 65%, 51% 79%, 60% 89%, 45% 100%, 29% 90%, 39% 78%, 40% 64%);
background-color:#ffdbc4;
width: 200px;
height:200px;
position: absolute;
margin-top: 80px;
margin-left: 85px;

}

#boca{
  width: 310px;
  height: 250px;
  background-color:#1C2833;
  clip-path: polygon(52% 0, 100% 27%, 92% 63%, 69% 93%, 32% 93%, 10% 64%, 0 27%);
  margin-top: 200px;
  margin-left:25px;
z-index: 60;
  position: absolute;

}

#cuello{
  width: 400px;
  height: 600px;
  background: silver;
  clip-path: polygon(29% 8%, 52% 17%, 74% 8%, 96% 21%, 99% 71%, 0% 70%, 6% 21%);
  margin-top: 340px;
margin-left: -30;
  position: absolute;
  z-index: 1;

}
