
*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("bodyimgs/cuadrados.jpg.jpg");
width: 100%;
height:100%;

}



.sss {
	height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}

.sssnext, .sssprev {
	width: 25px;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	background: url('images/arr.png') no-repeat;
}

.sssprev {
	left: 3%;
	background-position: 0 50%;
}

.sssnext {
	right: 3%;
	background-position: -26px 50%;
}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}

.clear{
  clear: both;
}

.normal {
  background-color: silver;
  width: 100%;

}

/*listas dentro del na quitar los puntos*/
.normal ul{
  list-style-type: none;
}
/*enlaces dentro de los listados enlaces*/
.normal ul li a{
  text-decoration: none;
  padding-left: 10px;
  padding-top: 20px;
  display: block;
  float: left;
  width: 32%;
  text-align: center;
  color: black;
  background-color: silver;
}

.normal ul li a:hover{
  color: lightyellow;
  background: black;
}

/*movil*//*movil*//*movil*//*movil*//*movil*//*movil*/

.movil ul{
  display: none;
}

input:checked ~ ul{
  display:block;
}

input{
  display:none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid lightblue;
  color: black;
  width: 80px;
  height: 80px;
  line-height: 25px;
  font-weight: lighter;
  text-align: center;
  user-select: none;

}

label:hover {
  background-color: red;
}

input:checked ~ label{
  background-color: blue;
}

nav{
  background-color:lightblue;
  width:100px;

}


.movil ul {
padding: 0;
margin-top: 0;
width: 180px;
}

.movil ul li{
  display: block;
  background-color: green;
  margin:0;
  padding:0;

}

.movil ul li:hover{
filter: brightness(150%);
}

h1{
  font-size: 38px;
  font-weight: bold;
  margin: 20px;
}

.movil {
display: none;
}


#contenedor{
  padding:1%;

  width: 90%;
  height: 600px;
  margin: 0 auto;
}
 /*al poner los paddings y margins hay que restarselo al ancho total porq si no fallara*/
.filacuatro{
  width:29%;
  margin:1%;
  padding:1%;
  height:200px;
  background-color:lightpink;
  float: left;
}

.filados{
  width:46%;
  margin:1%;
  padding:1%;
  height:120px;
  background-color:lightblue;
  float: left;
}

.filauno{
  width:96%;
  margin:1%;
  padding:1%;
  height:120px;
  background-color:lightgreen;
  float: left;
}

/*footer*/
#pie{
  width: 100%;
  background-color: silver;
  height: 100px;
}
 .clear{
   clear: both;
 }
 /* ACORDEON PRUEBA*/
 .accordion {
   background-color:lightgreen;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   text-align: left;
   border: none;
   outline: none;
   transition: 0.4s;
 }


 .active, .accordion:hover {
   background-color: #ccc;
 }

 .panel {
   padding: 0 18px;
   background-color: white;
   display: none;
   overflow: hidden;
 }

 .accordion:after {
   content: '\02795'; /* Unicode character for "plus" sign (+) */
   font-size: 13px;
   color: #777;
   float: right;
   margin-left: 5px;
 }

 .active:after {
   content: "\2796"; /* Unicode character for "minus" sign (-) */
 }
 /*ARRIBA ACORDEON PRUEBA*/
@media screen and (max-width: 767px) {
  body{
  background-color: white;
  }

  .normal{
    display:none;
  }

  .movil{
    display:block;
  }

  #contenedor{
    width:100%;
  }

  .filacuatro,.filados,.filauno{
    margin:2%;
    padding:2%;
    width:90%;
  }

  .filauno{
    background-color:#BBD8FF;
  }

  .filacuatro{
    background-color:#F4CAFF;
  }

  .filados{
    background-color:#FFAF9E;
  }
}
